[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "affinitymatrix"]
	path = affinitymatrix
	url = https://github.com/edoardociscato/affinitymatrix
